//
.page-header {
    position: relative;
    margin: 0 0 20px;
    padding-bottom: 15px;
    .unbd;
    h1,
    h2,
    h3,
    h4,
    h5 {
        position: relative;
        margin: 0;
        color: @cc;
    }
    &.hasbdr {
        .bdrb;
        &:after {
            width: 0;
            height: 0;
        }
    }
}