@import "btn.less";
@import "input.less";
@import "crbox.less";
@import "inputgroup.less";
.form-group {
    position: relative;
    .control-label {
        padding-top: 13px;
        color: @cgy1*0.82;
        &.forta {
            padding-top: 7px;
        }
    }
    .form-horizontal &.hasbtn {
        .col-loop(12);
        .btn-lg {
            .pdl;
            .pdr;
        }
    }
}
.input-group {
    .input-group-addon {
        .unbg;
        .unbd;
        &+.select[class*="col"] {
            display: inline-block;
            .pdl(0);
        }
    }
    .form-group[class*="col"] {
        .mgb(0);
    }
    .select {
        .ohd;
    }
}
