body {
    font-family: @ffmix;
    color: @cc;
    font-size: 14px;
}
@font-face {
    font-family: 'robote';
    src:url('../lib/font/roboto-thin.eot') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../lib/font/roboto-thin.woff') format('woff'),
    /* chrome、firefox */
    url('../lib/font/roboto-thin.ttf') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../lib/font/roboto-thin.svg') format('svg');
}
::selection {
    color: @cwh;
    text-shadow: none;
    background: @cc;
}
label,
th {
    font-weight: normal;
}
.full-width {
    position: relative;
    background-color: @cbla;
    width: 100%;
    .ohd;
    z-index: 1;
}
//.column-columns-(4);
//.column-columns-(@n, @i: 1) when (@i =< @n) {
//  .column-@{i} {
//      -webkit-column-count: @i;
//      -moz-column-count: @i;
//      column-count: @i;
//  }
//  .generate-columns(@n, (@i + 1));
//}
.loopcol(6);

.loopcol(@n, @i: 1) when (@i =< @n) {
    .vba-column-@{i} {
        -webkit-column-count: @i;
        -moz-column-count: @i;
        column-count: @i;
        -webkit-column-gap: @mpb*2;
        -moz-column-gap: @mpb*2;
        column-gap: @mpb*2;
    }
    .loopcol(@n, (@i + 1));
}
.mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.5) url("../../img/pattern.png") repeat;
}
.mixbox {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
.iconfont{
    display: inline-block;
}
